@import "./styles/aa.scss";

* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: url("../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;

  .container-wrapper {
    min-height: 100vh;

    .top-bar {
      background-color: #222;
      color: #f4f4f4;
      padding: 15px;

      .heading-title {
        font-size: 22px;
        @include responsive("phone") {
          font-size: 45px;
        }
        margin: 0 auto;
        text-align: center;
        text-transform: capitalize;
      }
    }

    #form-section {
      width: 85%;
      @include responsive("laptop") {
        width: 55%;
      }
      #location-error {
        display: none;
      }
      #date-error {
        display: none;
      }
    }
  }
}
