@import "./aa.scss";

* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: url("../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;

  .main-container {
    min-height: 100vh;

    .header-bar {
      background-color: #222;
      color: #f4f4f4;
      padding: 15px;

      .title-text {
        font-size: 22px;
        @include device-breakpoint("mobile") {
          font-size: 45px;
        }
        margin: 0 auto;
        text-align: center;
        text-transform: capitalize;
      }
    }

    #input-section {
      width: 85%;
      @include device-breakpoint("desktop") {
        width: 55%;
      }
      #location-warning {
        display: none;
      }
      #date-warning {
        display: none;
      }
    }
  }
}
